<form autocomplete="off" class="form-inline" >
    <div class="form-group mx-sm-3 mb-2 mt-2">
        <input class="form-control" (keyup)="onkeyUp(searchTerm.value)" #searchTerm id="nomEvent" placeholder="">
        <label class="label" for="nomEvent" ><i class="fa fa-search" aria-hidden="true"></i>Nom Event</label>
                 
        
    </div>
</form>
<div class="container">

    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom Salle</th>
                        <th>Capacity</th>
                        
                    </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let salle of salles">
                      <td>{{ salle.idSalle }}</td>
                      <td>{{ salle.salleName }}</td>
                      <td>{{ salle.capacity }}</td>
                     
                        
</tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
