<div class="wel">
    <div class="container" id="details-dialog-content">
      <h2 mat-dialog-title class="title">Manager Details</h2>
      <mat-dialog-content>
        <p>ID Manager: {{ data.idManager }}</p>
        <p>Nom Manager: {{ data.nameManager }}</p>
        <p>Email Manager: {{ data.mailManager }}</p>
        </mat-dialog-content>
      <div mat-dialog-actions class="main">
        <button mat-button class="hi" (click)="onDownloadClick()">Download</button>
        <button mat-button class="hello" (click)="onCloseClick()">Close</button>
      </div>
    </div>
  </div>
  