<form autocomplete="off" class="form-inline">
  <div class="form-group mx-sm-3 mb-2 mt-2">
    <input class="form-control" (keyup)="onkeyUp(searchTerm.value)" #searchTerm id="nomEvent" placeholder="">
    <label class="label" for="nomEvent"><i class="fa fa-search" aria-hidden="true"></i> Search History</label>
  </div>

  <div class="container">
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nom Event</th>
              <th scope="col">Location</th>
              <th scope="col">Event Start</th>
              <th scope="col">Event End</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of events">
              <td>{{ event.id }}</td>
              <td>{{ event.title }}</td>
              <td>{{ event.location }}</td>
              <td>{{ event.startTime | date:'dd/MM/yyyy HH:mm a':'UTC' }}</td>
              <td>{{ event.endTime | date:'dd/MM/yyyy HH:mm a':'UTC' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>
