.hi {
    background-color: #28a745;
    margin-right: 20px;
    border-color: transparent;
    border-radius: 25px;
    color: aliceblue;
    padding: 7px 30px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.hello {
    background-color: red;
    border-color: transparent;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    color: aliceblue;
    padding: 7px 30px;

}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    background-color: gainsboro;
}

/* Add this to your global styles or the component's styles */
.custom-dialog-container {
    background-color: black;
    color: white; /* Set the text color to make it readable on a black background */
}

/* Corrected hover effect */
.hi:hover {
    transform: scale(1.1);
    /*Settheinitialscalevalue*/-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.hello:hover{
    transform: scale(1.1);
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    

}