/* Neon button style */
.neon-button {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to right, #212529, #343a40);
    /*Matchthetablerowcolors*/color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    /*Adjustedborder-radiusforamoresubtlelook*/transition: background 0.3s ease, box-shadow 0.3s ease;
    -webkit-transition: background 0.3s ease, box-shadow 0.3s ease;
    -moz-transition: background 0.3s ease, box-shadow 0.3s ease;
    -ms-transition: background 0.3s ease, box-shadow 0.3s ease;
    -o-transition: background 0.3s ease, box-shadow 0.3s ease;
}
  
  .neon-button:hover {
    animation: glow 2s linear infinite;
    -webkit-animation: glow 2s linear infinite;
}
  
  /* Glow animation */
  @keyframes glow {
    0% {
      box-shadow: 0 0 20px rgba(18, 194, 233, 0.7), 0 0 20px rgba(196, 113, 237, 0.7);
    }
    50% {
      box-shadow: 0 0 20px rgba(246, 97, 89, 0.7), 0 0 20px rgba(81, 224, 210, 0.7);
    }
    100% {
      box-shadow: 0 0 20px rgba(18, 194, 233, 0.7), 0 0 20px rgba(196, 113, 237, 0.7);
    }
  }
  
  /* Set background color for even and odd rows in the table body */
  .table tbody tr:nth-child(even) {
    background-color: #212529; /* Dark background color for even rows */
  }
  
  .table tbody tr:nth-child(odd) {
    background-color: #343a40; /* Slightly lighter background color for odd rows */
  }
  
  /* Style for td elements */
  .table td {
    color: black;
    padding: 12px;
  }
  
  /* Hover effect on td elements */
  .table tbody tr:hover td {
    background-color: #28a745; /* Green background color on hover */
    color: #fff;
  }
  
  /* Style for th elements */
  .table th {
    background-color: #000;
    color: #fff;
  }
  
  /* Hover effect on th elements */
  .table th:hover {
    background-color: #28a745; /* Green background color on hover */
    color: #fff;
  }
  
  .card {
    margin-top: 100px;
    background-color: gainsboro;
  }
  .button-container {
    display: flex;
    gap: 10px; /* Adjust the spacing as needed */
  }